<h1>Site#index</h1>
<p>Find me in app/views/site/index.html.erb</p>
<div id="cat_count">
	<h2>cat count</h2>
	<span id="count"><%= @cat_count -%></span>
</div>
<div id="dog_count">
	<h2>dog count</h2>
	<span id="count"><%= @dog_count -%></span>
</div>
