<div class="container">
	
	<section id="counts">
		<!-- <div class="page-header">
			<h1>Counts</h1>
		</div> -->
		
		<div class="row">
			<div id="cat_count" class="countbox span8">
				<h2>kitty count</h2>
				<span id="count"><%= @cat_count -%></span>
				<span id="diff"></span>
			</div>
			<div id="dog_count" class="countbox span8">
				<h2>doggie count</h2>
				<span id="count"><%= @dog_count -%></span>
				<span id="diff"></span>
			</div>
		</div>
	</section>
	
	<!-- TODO: ghetto spacing, fix me -->
	<br/><br/>
	
	<section id="tweets">
		<!-- <div class="page-header">
			<h1>Tweets
				<small>Most recent tweets about kitties or puppies</small>
			</h1>
		</div> -->
		
		<div class="row">
			<div id="cat_tweets" class="span8">
				<h2>recent cat tweets</h2>
				<ul id="tweets"></ul>
			</div>
			<div id="dog_tweets" class="span8">
				<h2>recent dog tweets</h2>
				<ul id="tweets"></ul>
			</div>
		</div>
	</section>
	
	
	
</div>