// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.countbox {
	
	h2 {
		margin-bottom: 10px;
	}
	
	#count {
		margin: 15px;
		font-size: xx-large;
	}
}